@import "tailwindcss";

/* tailwind.css */
.input {
  @apply border rounded-lg px-3 py-2 w-full focus:ring focus:ring-blue-200;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-700 text-white px-3 py-1.5 rounded-lg;
}

.btn-danger {
  @apply bg-red-600 hover:bg-red-700 text-white px-3 py-1.5 rounded-lg;
}

.btn-secondary {
  @apply bg-gray-400 hover:bg-gray-500 text-white px-3 py-1.5 rounded-lg;
}

/* global.css */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

/* Skeleton base */
.skeleton-btn {
  @apply h-10 w-20 bg-gray-300 rounded-lg;
}

.skeleton-title {
  @apply h-8 w-60 bg-gray-300 rounded;
}

.skeleton-search {
  @apply h-10 w-full md:w-64 bg-gray-300 rounded-lg;
}

.skeleton-th {
  @apply h-4 w-24 bg-gray-300 rounded;
}

.skeleton-td {
  @apply h-4 w-full bg-gray-200 rounded;
}

/* form page */

/* Background image overlay */
.form-bg {
  background-image: linear-gradient(
      to bottom right,
      rgba(78, 70, 229, 0.728),
      rgba(37, 100, 235, 0.632)
    ),
    url("/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Glass card effect */
.glass-card {
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  background: rgba(255, 255, 255, 0.85);
}

/* Smooth input animation */
.input-animate input {
  transition: all 0.2s ease;
}
.input-animate input:focus {
  transform: translateY(-1px);
}

/* table page */
.table-card {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 1)
  );
}

.table-row-hover:hover {
  background: linear-gradient(
    90deg,
    rgba(79, 70, 229, 0.06),
    rgba(99, 102, 241, 0.03)
  );
}

.sticky-head th {
  position: sticky;
  top: 0;
  background: #eef2ff;
  z-index: 10;
}

/* for print */
@page {
  size: A4;
  margin: 8mm;
}

@media print {
  body {
    background: white !important;
  }
  .print-hide {
    display: none !important;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
  }
  th {
    background: #f3f4f6 !important;
    color: #000 !important;
  }
  th,
  td {
    padding: 8px !important;
    border: 1px solid #d1d5db !important;
  }
  tr {
    page-break-inside: avoid;
  }
  .table-card {
    box-shadow: none !important;
  }
}
